* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-size: 1.1rem;
	color: white;
}

.checkoutmain {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 1rem;
}

.checkcont {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.checkli {
	width: 100%;
	border: 1px solid white;
	height: 7rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.checkli > img {
	min-width: 100px;

	height: 70%;
	margin: 0 1rem 0 1rem;
}

.checktext {
	display: flex;
	color: white;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.checktitle {
	display: flex;
	flex-wrap: nowrap;
	width: 5rem;
	margin-right: 2rem;
}

.checkamounts {
	display: flex;

	width: 10rem;
}

.checkincrement {
	font-size: 0.9rem;
	width: 2rem;
	height: 1.8rem;
	text-align: center;
	margin: 0 0.2rem 0 0.2rem;
	border-radius: 8px;
	border: 2px solid rgb(33, 37, 41);
	color: rgb(33, 37, 41);
}
.checkprice {
	font-weight: 600;
	min-width: 5rem;
	max-width: 5rem;
}
.itemtotal {
	font-weight: 600;
	margin-right: 4rem;
}

.checkdelicon {
	background-color: inherit;
	border-radius: 4px;
	margin-right: 0.5rem;
	width: 2rem;
	text-align: center;
}

.checktotal {
	width: 15rem;
	border: 2px solid white;
	display: flex;
	flex-direction: column;
	height: 40%;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	top: 0;
	position: sticky;
}

.carttotal {
	color: white;
}

.cartsect {
	text-align: left;
	margin-left: 1rem;
}

.checkline {
	height: 4rem;
	width: 100%;

	border: 1px solid white;
}

.pay {
	color: rgb(33, 37, 41);
	border-radius: 4px;
	width: 50%;
	margin: 0 auto 1rem auto;
	-webkit-box-shadow: 5px 5px 15px 5px #372f2f;
	box-shadow: 2px 2px 4px 3px #4e4d4d;
}

@media (max-width: 63rem) {
	.checktotal {
		width: 100%;

		position: relative;
	}
	.checkoutmain {
		flex-direction: column-reverse;
	}

	.checktext {
		display: flex;
		color: white;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.checkli {
		width: 100vw;
		height: 20rem;
		flex-direction: column;
	}

	.checkli > img {
		width: 100px;

		height: 30%;
		margin: 1rem 0 1rem 0;
	}

	.checktitle {
		width: 70%;
		justify-content: center;
		font-size: 0.9rem;
		text-align: center;
	}

	.checkamounts {
		display: flex;
		margin: 1rem 0 1rem 0;
		min-width: 100%;
		justify-content: center;
	}

	.checkincrement {
		font-size: 0.9rem;
		width: 3rem;
		height: 2.3rem;
		text-align: center;
		margin: 0 0.2rem 0 0.2rem;
		border-radius: 8px;
		border: 2px solid rgb(33, 37, 41);
		color: rgb(33, 37, 41);
	}
	.checkprice {
		font-weight: 600;
		min-width: 100%;
	}
	.itemtotal {
		min-width: 100%;
		font-weight: 600;
		margin: 0;
	}

	.checkdelicon {
		background-color: inherit;
		border-radius: 4px;
		margin: 1rem 0 1rem 0;
		width: 2rem;
		text-align: center;
	}

	.pay {
		height: 3.5rem;
	}
}
